<script type="text/javascript">
window.carbonLoaded = false;

window.helloCarbon = function() {
  window.carbonLoaded = true;
}

document.addEventListener('DOMContentLoaded', function() {
  var $menuHello = document.getElementById('menuHello');
  var $huggingFace = document.getElementById('huggingFace');
  var $carbon = document.getElementById('carbon');
  var $placeholder = document.getElementById('placeholder');

  setTimeout(function() {
    if (window.carbonLoaded) {
      $menuHello.style.minHeight = '218px';
      $huggingFace.style.display = 'none';
      $carbon.style.display = 'block';
    } else {
      $menuHello.style.minHeight = '0';
      $huggingFace.style.display = 'block';
      $carbon.style.display = 'none';
    }
    $placeholder.style.display = 'none';
  }, 2000);
});
</script>

<aside class="menu">
  <a id="logo" class="menu-logo" href="{{site.url}}">
    <img src="{{site.url}}/images/css-reference-logo.png" alt="{{site.title}} logo">
  </a>
  <nav class="menu-collections">
    <ul>
      <li><a class="menu-collection-link{% if page.template == 'index' %} menu-collection-link--active{% endif %}" href="{{site.url}}/">全部 CSS 屬性</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Animations' %} menu-collection-link--active{% endif %}" href="{{site.url}}/animations/">動畫 (Animations)</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Backgrounds' %} menu-collection-link--active{% endif %}" href="{{site.url}}/backgrounds/">背景 (Backgrounds)</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Box model' %} menu-collection-link--active{% endif %}" href="{{site.url}}/box-model/">區塊模型 (Box model)</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Flexbox' %} menu-collection-link--active{% endif %}" href="{{site.url}}/flexbox/">Flexbox</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Positioning' %} menu-collection-link--active{% endif %}" href="{{site.url}}/positioning/">定位 (Positioning)</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Transitions' %} menu-collection-link--active{% endif %}" href="{{site.url}}/transitions/">轉場 (Transitions)</a></li>
      <li><a class="menu-collection-link{% if page.collection_name == 'Typography' %} menu-collection-link--active{% endif %}" href="{{site.url}}/typography/">排版 (Typography)</a></li>
    </ul>
  </nav>
  {% if page.template != "index" %}
    <nav id="menu-nav" class="menu-nav">
      <div class="menu-search">
        <input id="menu-search-input" type="search" autocomplete="off" placeholder="搜尋 CSS 屬性">
        <i class="icon is-search"></i>
      </div>
      <div id="menu-list" class="menu-list">
        <ul id="menu-list-ul" class="menu-list-ul">
          {% if page.menu_list && page.layout == "collection" %}
            {% include collections/{{page.menu_list}}.html %}
          {% else %}
            {% include lists/menu-list.html %}
          {% endif %}
        </ul>
        <i id="menu-shadow-top" class="menu-list-shadow is-top"></i>
        <i id="menu-shadow-bottom" class="menu-list-shadow is-bottom"></i>
      </div>
      <a id="menu-nav-close" class="menu-close">
        <i class="icon is-close"></i>
        <strong>關閉</strong>
      </a>
    </nav>
  {% endif %}
  <!-- <footer class="menu-hello">
    {% include carbon.html %}
  </footer> -->
</aside>

<footer class="footer">
  <p class="footer-title">
    <strong>{{site.subtitle}}</strong> <small>原作者 <a href="https://twitter.com/jgthms">@jgthms</a></small><small>中文作者 <a href="https://www.facebook.com/9IVRadio/">@9IV-Radio</a></small>
  </p>
  <p class="footer-share footer-share--social">
    <strong class="footer-share-label">分享</strong>
    {% include social/button-twitter.html %}
    {% include social/button-facebook.html %}
    <a id="menu-nav-open" class="footer-share-nav">Menu</a>
  </p>
  <div class="footer-facebook">
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F9IVRadio%2F&width=100&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId=456692754526423" width="100" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
  <div class="footer-github">
    <iframe class="footer-iframe" data-src="https://ghbtns.com/github-btn.html?user=9iv-radio&repo=css-reference_zh-hant-tw&type=star&count=true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
  </div>
  <p class="footer-share footer-share--contribute">
    <strong class="footer-share-label">Contribute</strong>
    <a class="footer-share-button is-github" href="https://github.com/9IV-Radio/css-reference_zh-hant-tw" target="_blank">
      {% include svg/github.html %}
    </a>
  </p>
</footer>
